@model IEnumerable<ToDoList.Models.Group>
@{
    var success = TempData["Success"] as string;
}
@*GROUP // INDEX*@
@*GROUP // INDEX*@
@if (!string.IsNullOrEmpty(success))
{
    <h3 class="alert-success" style="padding:20px;">@success</h3>
}
<h2 class="text-black-50">TASK<span class="text-success">er</span> Group Manager</h2>
<br />
<a class="btn btn-success" asp-controller="Group" asp-action="Create">Create new Group</a>
<div class="container" p-3>

    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered round" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Group Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <td width="20%">@group.Name</td>
                        <td width="40%">@group.Description</td>
                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-success mx-1" asp-controller="Group" asp-action="AddMember" asp-route-Id="@group.Id">Add Member</a>
                                <a class="btn btn-danger mx-1" asp-controller="Group" asp-action="Delete" asp-route-Id="@group.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <p>No groups created yet</p>
    }

</div>

