@model IEnumerable<ToDoList.Models.Item>


<div class="container" p-3>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All items are printed here</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Item" asp-action="Create">Create new Item</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Task Name
                    </th>
                    <th>
                        Task Description
                    </th>
                    <th>
                        Responsible User
                    </th>
                    <th>
                        DeadlineDate
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                     <th>
                        Changes
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10%">@item.ItemName</td>
                        <td width="30%">@item.ItemDescription</td>
                        <td width="15%">@item.ResponsibleUser</td>
                        <td width="10%">@item.DeadlineDate</td>

                        <td width="10%">@item.Priority</td>

                        <td width="10%">
                            <div class="w-100 btn-group ">

                                <a asp-controller="Item" asp-action="DeletePost" asp-route-Id="@item.Id" class="btn btn-primary ">Done</a>
                            </div>
                         <td width="10%">
                             <div class="w-100 btn-group ">

                                <a asp-controller="Item" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning ">Edit</a>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <p>No items created yet</p>
    }
